[project]
	description = java project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suneel453
[access "refs/for/refs/*"]
	read = group user/suneel453
	push = group user/suneel453
	label-Code-Review = -2..+2 group user/suneel453
	label-Verified = -1..+1 group user/suneel453
	rebase = group user/suneel453
	removeReviewer = group user/suneel453
	submit = group user/suneel453
[access "refs/heads/*"]
	read = group user/suneel453
	create = group user/suneel453
	push = +force group user/suneel453
	pushMerge = group user/suneel453
[access "refs/tags/*"]
	push = group user/suneel453
	push = +force group user/suneel453
